<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="adminMemberList">
	SELECT *
	FROM (
		SELECT ROWNUM RNUM, M.*
		FROM(
			SELECT 
		       	   MEMBER_NO
				 , LOCATION_NO
				 , MEMBER_ID
				 , MEMBER_PWD
				 , MEMBER_NAME
				 , MEMBER_ALIAS
				 , EMAIL
				 , GENDER
				 , AGE
				 , ENROLL_DATE
				 , REPORT_COUNT
				 , STATUS
				 , PF_STATUS
	  		FROM MEMBER
			) M
			
		 )
	WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="adminBoardList">
		SELECT 
		        b.*, 
		        m.member_id, m.member_name, m.member_name
		  FROM Board b
		  JOIN Member m ON b.member_no = m.member_no;
	</entry>
	
	<entry key="adminReportList">
		SELECT R.*
		  FROM REPORT_DETAIL R
		  JOIN MEMBER M ON M.MEMBER_NO = R.MEMBER_NO
	</entry>
	
	<entry key="adminMusicCount">
		SELECT COUNT(*) AS "Music"
		  FROM MUSIC_BOARD
	</entry>
	
	
	<entry key="adminBoardListView">
		SELECT B.MEMBER_NO, B.BOARD_TITLE, B.BOARD_STATUS, M.MEMBER_NAME
		  FROM BOARD B
		  JOIN MEMBER M ON M.MEMBER_NO = B.MEMBER_NO
	</entry>
	
	
</properties>